.sizeCasa{
    font-size: 21px;
}
.contenedorNombreAlojamiento{
    height: 160px;
    text-align: center;
    //    background-color: rgba(77, 76, 10, 0.096);
    border-radius: 17px;
}
.sizeUbicacion{
  font-size: 19px;
}
.justificado{
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:auto;
}
.items{
    width:100px ;
    height: 50px;
}
.center{
    margin: auto;
}
.p{
    margin: auto;
}
.contenedorServicios{
    height: 150px;
    // background-color: rgba(77, 76, 10, 0.096);
    border-radius: 17px;
}
.contenedorDescripcion{
// background-color: rgba(77, 76, 10, 0.096);
    border-radius: 17px
}
