.fondoDePantallanaturaleza{
        background: url(https://s1.wklcdn.com/image_13/397454/10272358/6179248Master.jpg) no-repeat fixed;
        background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        height: 750px;
}
.fondoDePantallaDownnaturaleza{
        background: url(https://media.revistagq.com/photos/5cd5804bd1dca86286c0929f/16:9/w_1920,c_limit/mejores%20bicicletas%20de%20montan%CC%83a.jpg) no-repeat center center;
        background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        height: 450px;
        border-radius: 17px;
}
.contenedorTextnaturaleza{
    width: 300px;
    height: 210px;
    display: flex;
    margin-top: 645px;
}
.subcontenedornaturaleza{
    width: 201px;
    height: 200px;
    margin: auto;
    text-align: center;
    border-radius: 120px;
    background-color: rgba(13, 13, 14, 0.89);
    padding-top: 47px;
    padding-right: 8px;
}
.sizetextviajarnaturaleza{
    font-size: 41px;
    color: rgb(255, 153, 0);
}
.contenedorParrafoUnonaturaleza{
    width: 405px;
    height: 465px;
    background-color: rgba(255, 255, 0, 0.024);
border-radius: 13px;
}
.contenedorOpinionNaturaleza{
    width: 650px;
    height: 280px;
    text-align: justify;
    color: black;
    background-color: rgba(255, 255, 0, 0.024);
    border-radius: 13px;
}
.contenedorTextonaturaleza{
    width: 350px;
    height: 350px;
    float: left;
    text-align: center;
    color: black;
}
