.fondoFooter{
    background-color: rgba(13, 13, 14, 0.877);
}
.contenedorFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contenedordturist{
    width: 350px;
    height: 45px;
text-align: center;
}
.contenedorRs{
        width: 350px;
    height: 45px;
text-align: center;
font-size: 27px;
}
.autores{
        width: 1050px;
    height: 190px;
   text-align: left;
   padding-left: 150px;
   font-size: 17px;

}