body {
        background: url(https://sailogy-pictures-public.imgix.net/uploads/sailogy/territory/2019/5/14/1050/616/santorini.jpg) no-repeat center center fixed;
        background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
}

