.margin{
    margin-top: 100px;
}
.colorFondoBusqueda{
    background-color: rgba(14, 13, 13, 0.726);
}
.contenedorFrase{
    width: 800px;
    height: 61px;
   margin: auto;
   justify-content: center;
}
.fondoDePantalla{
        background: url(https://content.skyscnr.com/m/4bc4e6400feeb9e5/original/spain-andalucia-andalusia-cadiz-province-el-palmar-beach-gettyimages-566180985.jpg?resize=1800px:1800px&quality=100) ;
        background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        height: 1550px;
}
.contenedorTextoAndalucia{
    width: 1051px;
    margin: auto;
    font-size: 23px;
    text-align: center;
}
.contenedorDoñana{
    width: 390px;
    height: 218px;
    border-radius: 11px;
    text-align: center;
}
.fondoDePantallaDor{
     background: url(https://viajes.nationalgeographic.com.es/medio/2017/07/12/playa-lo-genoveses-almeria_0b0b4360.jpg) no-repeat center center;
        background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        height: 750px;
        border-radius: 17px;
}
.contenedorT{
    width: 600px;
    height: 650px;
    float:left;
    text-align: left;
    color: white;
    padding-top: 371px;
    font-size: 37px;
}
.mov:hover {
transition: all 0.5s;
transform: scale(1.1);
}
// .fondoDePantallaDor:hover {
// opacity:0.7;
// box-shadow: 40px 50px 100px 20px white;
// }
.alignTextpromo{
    text-align: center;
}
.bgpromo{
    width: 270px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.808);
    border-radius: 13px;
    color: orange;
    font-size: 17px;
}
.contenedorPromo{
    width: 270px;
    height: 150px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.bgtext{
       width: 270px;
    height: 40px;
}
.contenedorFrasehome{
    width: 900px;
    height: 361px;
   margin: auto;
}
.centermargin{
  margin-left: 141px;
}





