.alineacionIniciaSesion{
     margin-left: 195px;
}
.colorBotonIniciarSesion{
    background-color: rgba(241, 28, 92, 0.918);
}
.colortexto{
    color:white;
}
.marginLogin{
    margin-top: 100px;
}



