.sizePlanet{
    color: rgb(0, 119, 255);
    font-size: 27px;
    padding-left: 30px;
}
.colorNombre{
    color: rgb(0, 119, 255);
}
.marginProfile{
    margin-top: 100px;
}
.colorFondoProfile{
        background-color: rgba(10, 31, 77, 0.884);

    }