.esquinasRedondasFormulario{
    border-radius: 30px 30px 30px 30px;
}
.esquinasRedondasNavigation{
    border-radius: 0px 0px 30px 30px;
}
.esquinasRedondas{
    border-radius: 30px;
}
.alineacion{
    margin-left: 300px;
}
.colorBotonCrearCuenta{
    background-color: rgba(241, 28, 92, 0.918);
}
.colortexto{
    color:white;
}
.marginCrearCuenta{
    margin-top: 100px;
}
