.contenedor{
    width: 500px;
    height: 300px;
    border-radius: 17px;
    margin:auto;
}
.contenedorBotones{
    width: 450px;
    height: 100px;
}
.b{
    padding-left: 100px;
    padding-right: 100px;
}
.c{
    padding-left: 130px;
    padding-right: 130px;
}