.contenedorBienvenidosViajeros{
    width: 1100px;
    height: 190px;
    text-align: center;
    font-size: 17px;
    border-radius: 9px;
}
.colorParrafoContenedorBienvenidosViajeros{
color: black;
}
.contenedorBuscaReservaViaja{
    width: 300px;
    height: 160px;
    text-align: center;  
}
.contenedorReservaYa{
    margin-left: 319px;
    height: 100px;
    text-align: center;
    background-color: rgb(10, 31, 77);
    border-radius: 11px;
    color: white;
}
.posicionamiento{
   justify-content: space-between;
}
.colorBotonDardeAlta1{
     color: white;
     padding-right: 101px;
     padding-left: 101px;
}
.size
{font-size: 29px;
padding-left: 79px;
padding-top: 11px;
}
.colorBotonReservarYa{
    background-color: rgba(241, 28, 92, 0.918);
     color: white;
     padding-right: 129px;
     padding-left: 129px;
}