.contenedorBienvenidosViajeros{
    width: 1100px;
    height: 190px;
    text-align: center;
    font-size: 17px;
    border-radius: 9px;
}
.colorParrafoContenedorBienvenidosViajeros{
color: black;
}
.contenedorBuscaReservaViaja{
    width: 300px;
    height: 160px;
    text-align: center;  
}
.contenedorReservaYa{
    margin-left: 349px;
    height: 100px;
    text-align: center;
    background-color: rgb(10, 31, 77);
    border-radius: 11px;
    color: white;
}
.posicionamiento{
   justify-content: space-between;
}
.sizeCarrito
{font-size: 29px;
padding-left: 49px;
padding-top: 11px;
}
.colorBotonReservarYa{
    background-color: rgba(241, 28, 92, 0.918);
     color: white;
     padding-right: 129px;
     padding-left: 129px;
}
.sizeLupa{
    font-size: 23px;
    padding-left: 95px;
}
.sizecalendar{
    font-size: 25px;
    padding-left: 95px;
}
.sizeViaja{
    font-size: 25px;
    padding-left: 95px;
}