.contenedorPromocionInternacional{
    width: 300px;
    height: 200px;
    // background-color: red;
    text-align: center;
}
.contenedorColaboracionFlexible{
    width: 300px;
    height: 200px;
    // background-color: green;
    text-align: center;
}
.contenedorSinExclusividad{
     width: 300px;
    height: 200px;
    // background-color: yellow;
    text-align: center;
}
.posicionamiento{
   justify-content: space-between;
}
.colorBotonDardeAlta{
     background-color: rgba(241, 28, 92, 0.918);
     color: white;
     padding-right: 101px;
     padding-left: 101px;

}